snippet (
	(${1:fun})

snippet dp
	(defparameter ${1:param_name} ${2:param_value})

snippet df
	(defun ${1:fun_name} (${2:params})
		(${3:body}))

snippet unl
	(unless (${1:true_false})
		(${2:exec}))
snippet lam
	(lambda (${1:param_names})
		(${3:body}))
snippet let
	let (${1:definitions})
		(${2:body})
